@font-face {
    font-family: "unbounded";
    src: url(../fontes/Unbounded-Bold.ttf)format(truetype);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "poppins";
    src: url(../fontes/Poppins-Regular.ttf)format(truetype);
    font-weight: 400;
    font-style: normal;
    font-display: swap;

}
*{
    margin: 0;
    padding: 0;
}
img{
    display: block;
    width: 210px;
    height: 34px;
    margin: 75px 0 0px 360px;
}
body{
    background-color: white;
}
h1{
    font-family: "unbounded",sans-serif;
    font-size: 64px;
    color: #232323;
    text-align: center;
    margin: 60px 0 24px 0;

}
h1 span{
    color: #9747FF;

}
p{
    font-family: "poppins", sans-serif;
    font-size: 24px;
    color: #232323;
    text-align: center;
    width: 792px;
    height: 72px;
    margin: 0 auto;
}
a{
    font-family: "poppins",sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #9747FF;
    display: block;
    text-align: center;
    width: 340px;
    height: 66px;
    line-height: 68px;
    border-radius: 36px;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;

}
a:hover{
    background-color: #8233E8;
}
section img{
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

@media(max-width:768px){
    header img{
        margin: 65px 0 0 60px;
    }

p{ 
        width: 648px;
        height: 108px;
        
    }

a{
    margin: 40px auto;
}
}
@media(max-width:375px){
    header img{
        margin: 32px 0 0 16px;
    }
    h1{
       font-size: 40px; 
    }
    p{ 
        width: 341px;
        height: 120px;
        font-size: 20px;
        
    }
    a{
        width: 251px;
        height: 66px;
        font-size: 20px;
    }
    section img{
        width: 341px;
        height: 230px;
    }
}